.schedule-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.schedule-schedule {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.schedule-navigation-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1920px;
  height: 100px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(168, 239, 255, 1);
}
.schedule-blankprofile1 {
  top: 9px;
  left: 1690px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 100px;
}
.schedule-navlink {
  gap: 40px;
  top: 15.625px;
  left: 415.3333435058594px;
  width: 548px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.schedule-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text002 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text004 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text006 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-navlink1 {
  display: contents;
}
.schedule-free-sample-by-wix1 {
  top: 29px;
  left: 26px;
  width: 166px;
  height: 40px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
}
.schedule-calender {
  gap: 5px;
  top: 270px;
  left: 381px;
  width: 306px;
  display: flex;
  padding: 9px 13px;
  position: absolute;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.schedule-frame9 {
  gap: 77px;
  width: 286px;
  display: flex;
  padding: 6px 0;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #a8efff;
}
.schedule-frame10 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-text008 {
  color: #000000;
  height: auto;
  font-size: 19px;
  font-style: Bold;
  text-align: left;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-frame8 {
  gap: 16px;
  width: 64px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.schedule-materialsymbolsarrowforwardiosrounded {
  width: 24px;
  height: 24px;
}
.schedule-materialsymbolsarrowforwardiosrounded1 {
  width: 24px;
  height: 24px;
}
.schedule-frame1 {
  gap: 5px;
  width: 275px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.schedule-ellipse2 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse1 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text010 {
  top: 6px;
  left: 12px;
  color: rgba(95, 95, 95, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse3 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text011 {
  top: 6px;
  left: 9px;
  color: rgba(95, 95, 95, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse101 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse4 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text012 {
  top: 6px;
  left: 11px;
  color: rgba(95, 95, 95, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse102 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse5 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text013 {
  top: 6px;
  left: 8px;
  color: rgba(95, 95, 95, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse103 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse7 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text014 {
  top: 6px;
  left: 11px;
  color: rgba(95, 95, 95, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse104 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse6 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text015 {
  top: 6px;
  left: 12px;
  color: rgba(95, 95, 95, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse105 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse8 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text016 {
  top: 6px;
  left: 12px;
  color: rgba(95, 95, 95, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: Product Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse106 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-frame7 {
  gap: 5px;
  width: 275px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.schedule-ellipse21 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text017 {
  top: 6px;
  left: 7px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse107 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse31 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text019 {
  top: 6px;
  left: 7px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse108 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse41 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text021 {
  top: 6px;
  left: 7px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse109 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse51 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text023 {
  top: 6px;
  left: 6px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse110 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse71 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text025 {
  top: 6px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse111 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse61 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text026 {
  top: 6px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse112 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse81 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text027 {
  top: 6px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse113 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-frame2 {
  gap: 5px;
  width: 275px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.schedule-ellipse22 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text028 {
  top: 6px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse114 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse32 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text029 {
  top: 6px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse115 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse42 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text030 {
  top: 6px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse116 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse52 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text031 {
  top: 6px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse117 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse72 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-text032 {
  top: 6px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse118 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-ellipse62 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse119 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text033 {
  top: 7px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse82 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse120 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text034 {
  top: 6px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-frame3 {
  gap: 5px;
  width: 275px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.schedule-ellipse23 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse121 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text036 {
  top: 6px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse33 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse122 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text038 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse43 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse123 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text040 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse53 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse124 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text042 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse73 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse125 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text044 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse63 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse126 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text046 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse83 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse127 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text048 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-frame4 {
  gap: 5px;
  width: 275px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.schedule-ellipse24 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse128 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text050 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse34 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse129 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text052 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse44 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse130 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text054 {
  top: 6px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse54 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse131 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text056 {
  top: 6px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse74 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse132 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text058 {
  top: 6px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse64 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse133 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text060 {
  top: 6px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse84 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse134 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text062 {
  top: 6px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-frame5 {
  gap: 5px;
  width: 275px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.schedule-ellipse25 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse135 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text064 {
  top: 6px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse35 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse136 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text066 {
  top: 6px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse45 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse137 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text068 {
  top: 6px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse55 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse138 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text070 {
  top: 6px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse75 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse139 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text072 {
  top: 6px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse65 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse140 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text074 {
  top: 6px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse85 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse141 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text076 {
  top: 6px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-frame6 {
  gap: 5px;
  width: 275px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.schedule-ellipse26 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse142 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text078 {
  top: 6px;
  left: 13px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse36 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse143 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text079 {
  top: 6px;
  left: 12px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse46 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse144 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text080 {
  top: 6px;
  left: 12px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse56 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse145 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text081 {
  top: 6px;
  left: 11px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse76 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse146 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text082 {
  top: 6px;
  left: 12px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse66 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse147 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text083 {
  top: 6px;
  left: 12px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-ellipse86 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-ellipse148 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.schedule-text084 {
  top: 6px;
  left: 12px;
  color: rgba(158, 158, 158, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: center;
  font-family: Product Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-day-schedule {
  top: 279px;
  left: 778px;
  width: 641px;
  height: 316px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-rectangle1 {
  top: 0px;
  left: 0px;
  width: 641px;
  height: 316px;
  position: absolute;
  border-radius: 38px;
}
.schedule-rectangle2 {
  top: 18px;
  left: 23px;
  width: 584px;
  height: 68px;
  position: absolute;
  border-radius: 35px;
}
.schedule-text085 {
  top: 32px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-description {
  top: 93px;
  left: 44px;
  width: 335px;
  height: 183.00010681152344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.schedule-text087 {
  top: 12.000113487243652px;
  left: 173px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text089 {
  top: 12.000113487243652px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text091 {
  top: 59.00011444091797px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text093 {
  top: 107.00011444091797px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text095 {
  top: 150.00010681152344px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text097 {
  top: 59.00011444091797px;
  left: 173px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text099 {
  top: 150.00010681152344px;
  left: 174px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text101 {
  top: 107.00011444091797px;
  left: 174px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-line1 {
  top: 183.00010681152344px;
  left: 145px;
  width: 183px;
  height: 1px;
  position: absolute;
}
.schedule-day-schedule1 {
  top: 613px;
  left: 778px;
  width: 641px;
  height: 316px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.schedule-rectangle11 {
  top: 0px;
  left: 0px;
  width: 641px;
  height: 316px;
  position: absolute;
  border-radius: 38px;
}
.schedule-rectangle21 {
  top: 18px;
  left: 23px;
  width: 584px;
  height: 68px;
  position: absolute;
  border-radius: 35px;
}
.schedule-text103 {
  top: 32px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-description1 {
  top: 93px;
  left: 44px;
  width: 336px;
  height: 183.00010681152344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.schedule-text105 {
  top: 12.000113487243652px;
  left: 173px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text107 {
  top: 12.000113487243652px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text109 {
  top: 59.00011444091797px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text111 {
  top: 107.00011444091797px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text113 {
  top: 150.00010681152344px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text115 {
  top: 59.00011444091797px;
  left: 173px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text117 {
  top: 150.00010681152344px;
  left: 174px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-text119 {
  top: 107.00011444091797px;
  left: 174px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-line11 {
  top: 183.00010681152344px;
  left: 145px;
  width: 183px;
  height: 1px;
  position: absolute;
}
